.insurance-container {
	background-image: url("../../../../shared/assets/images/insurance.svg");
	background-position: right;
	background-size: cover;
	opacity: 50%;
}

.main-container {
	background-image: url("../../../../shared/assets/images/link-background.png");
	background-size: cover;
}

.hero {
	background-image: url("../../../../shared/assets/images/aya.png");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}
.image{
	background-image: url("../../../../shared/assets/images/adv-1.png");
	background-size: cover;
}
